<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>EpicTask</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a href="/patio" class="btn btn-ghost text-xl">Mottu Gestor</a>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/moto" th:text="#{moto}"></a></li>
            <li><a href="/patio" th:text="#{patio}"></a></li>
            <li><a href="/movimentacaoDocument" th:text="#{moviment}"></a></li>
        </ul>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
                <img
                        alt="avatar do usuário"
                        th:src="${user.attributes.avatar_url}" />
            </div>
        </div>
        <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li>
                <a class="justify-between" th:text="${user.attributes.login}"></a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<main class="grid place-items-center gap-4 p-8">
    <div class="w-full max-w-md">
        <form  th:object="${moto}" th:action="@{/moto/leitor-moto/{id}(id=${moto.idMoto})}" method="post">

            <input type="hidden" th:field="*{idMoto}" />

            <fieldset class="fieldset">
                <legend class="fieldset-legend"th:text="#{plate}"></legend>
                <input th:field="*{placa}" th:errorclass="input-error" type="text" class="input" />
                <p class="label text-error" th:errors="*{placa}"></p>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{model}"></legend>

                <select th:field="*{modelo}" class="input" th:errorclass="input-error">
                    <option value="" disabled selected th:text="#{modelselect}"></option>
                    <option th:each="m : ${modelos}" th:value="${m}" th:text="${m}"></option>
                </select>

                <p class="label text-error" th:errors="*{modelo}"></p>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{rfid}"></legend>
                <input th:field="*{rfid_tag}" th:errorclass="input-error" type="text" class="input" />
                <p class="label text-error" th:errors="*{rfid_tag}"></p>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{date}"></legend>
                <input type="date"
                       th:field="*{dataCadastro}"
                       th:value="*{dataCadastro}"
                       class="input input-bordered bg-base-100 border border-base-300 shadow-lg rounded-box"/>
                <p class="label text-error" th:errors="*{dataCadastro}"></p>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{service}"></legend>
                <textarea th:field="*{servico}" th:errorclass="textarea-error" class="textarea" ></textarea>
                <p class="label text-error" th:errors="*{servico}"></p>
            </fieldset>

            <div class="space-x-4">
                <a th:href="@{'/moto/leitor-moto/' + ${moto.leitor.idLeitor}}"  class="btn btn-neutral" th:text="#{cancel}"></a>
                <button class="btn btn-primary"  th:text="#{save}"></button>
            </div>

        </form>
    </div>
</main>

</body>
</html>