<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>MottuGestor</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a href="/patio" class="btn btn-ghost text-xl">Mottu Gestor</a>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/moto" th:text="#{moto}"></a></li>
            <li><a href="/patio" th:text="#{patio}"></a></li>
            <li><a href="/movimento" th:text="#{moviment}"></a></li>
        </ul>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
                <img
                        alt="avatar do usuário"
                        th:src="${user.attributes.avatar_url}" />
            </div>
        </div>
        <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li>
                <a class="justify-between" th:text="${user.attributes.login}"></a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<form method="get" class="m-4 flex gap-2">

    <input type="text" name="placa" class="input input-bordered" th:placeholder="#{plate}" />

    <select name="modelo" class="select select-bordered">
        <option value="" th:text="#{model}"></option>
        <option th:each="m : ${modelos}" th:value="${m}" th:text="${m}"></option>
    </select>

    <input type="date" name="data" class="input input-bordered" />

    <select name="tipo" class="select select-bordered">
        <option value="" th:text="#{allof} + ' ' +#{movimentype}"></option>
        <option th:each="t : ${tipos}" th:value="${t}" th:text="${t}"></option>
    </select>

    <select name="patioId" class="select select-bordered">
        <option value="" th:text="#{allof} + ' ' +#{patio}"></option>
        <option th:each="p : ${patios}" th:value="${p.idPatio}" th:text="${p.nome}"></option>
    </select>

    <select name="leitorId" class="select select-bordered">
        <option value="" th:text="#{allof} + ' ' +#{reader}"></option>
        <option th:each="l : ${leitores}" th:value="${l.idLeitor}" th:text="${l.nome}"></option>
    </select>

    <button type="submit" class="btn btn-primary" th:text="#{filter}"></button>
</form>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<div class="overflow-x-auto">
    <table class="table table-zebra">
        <tbody>
        <tr th:each="movimentacaoDocument : ${movimentoPage.content}">
            <td>
                <span th:text="${movimentacaoDocument.nomeUsuario ?: '-'}"></span>
            </td>
            <td th:text="${#temporals.format(movimentacaoDocument.dataEvento, 'dd/MM/yyyy')}"></td>
            <td th:text="${movimentacaoDocument.placaMoto}"></td>
            <td th:text="${movimentacaoDocument.modeloMoto}"></td>
            <td th:text="${movimentacaoDocument.nomePatio}"></td>
            <td th:text="${movimentacaoDocument.nomeLeitor ?: '—'}"></td>
            <td th:text="${movimentacaoDocument.tipoMovimento}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="join m-4 flex justify-center" th:if="${movimentoPage.totalPages > 1}">
    <a th:href="@{/movimento(page=${movimentoPage.number - 1}, size=${movimentoPage.size}, placa=${param.placa}, modelo=${param.modelo}, data=${param.data}, tipo=${param.tipo}, patioId=${param.patioId}, leitorId=${param.leitorId})}"
       th:classappend="${movimentoPage.first} ? 'btn-disabled'"
       class="join-item btn">«</a>

    <button class="join-item btn" th:text="${movimentoPage.number + 1}"></button>

    <a th:href="@{/movimento(page=${movimentoPage.number + 1}, size=${movimentoPage.size}, placa=${param.placa}, modelo=${param.modelo}, data=${param.data}, tipo=${param.tipo}, patioId=${param.patioId}, leitorId=${param.leitorId})}"
       th:classappend="${movimentoPage.last} ? 'btn-disabled'"
       class="join-item btn">»</a>
</div>




</body>
</html>