<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>MottuGestor</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a href="/patio" class="btn btn-ghost text-xl">Mottu Gestor</a>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/moto" th:text="#{moto}"></a></li>
            <li><a href="/patio" th:text="#{patio}"></a></li>
            <li><a href="/movimento" th:text="#{moviment}"></a></li>
        </ul>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a th:href="@{/patio-leitor(patioId=${param.patioId}, lang='pt_BR')}">🇧🇷</a></li>
                        <li><a th:href="@{/patio-leitor(patioId=${param.patioId}, lang='en_US')}">🏴</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
                <img
                        alt="avatar do usuário"
                        th:src="${user.attributes.avatar_url}" />
            </div>
        </div>
        <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li>
                <a class="justify-between" th:text="${user.attributes.login}"></a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<a th:if="${patioSelecionado != null}"
   th:href="@{/patio-leitor/form-leitor(patioId=${patioSelecionado.idPatio})}"
   class="btn btn-primary" th:text="#{leitor.new}">
</a>
<a href="/patio" class="btn btn-neutral" th:text="#{back}"></a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 p-8">
    <div th:each="leitor : ${leitores}" class="card card-border bg-base-300 w-96">
        <div th:text="${leitor.patio.nome}" class="badge badge-accent m-4"></div>

        <div class="card-body items-center">
            <h2 th:text="${leitor.nome}" class="card-title"></h2>
            <form th:action="@{'/patio-leitor/status/' + ${leitor.idLeitor}}" method="post">
                <input type="hidden" name="_method" value="PUT" />
                <input type="hidden" name="patioId" th:value="${leitor.patio?.idPatio}" />
                <input type="hidden" name="novoStatus" th:value="${leitor.status?.name() == 'ATIVO' ? T(br.com.fiap.newmottugestor.enums.TipoStatus).INATIVO : T(br.com.fiap.newmottugestor.enums.TipoStatus).ATIVO}" />

                <button type="submit" th:if="${leitor.status != null}"
                        th:text="${leitor.status?.name() == 'ATIVO' ? 'ATIVO' : 'INATIVO'}"
                        th:class="${leitor.status?.name() == 'ATIVO' ? 'btn btn-success' : 'btn btn-error'}">
                </button>
            </form>

        </div>

        <div class="card-actions justify-end m-4">

            <a th:href="@{'/moto/leitor-moto/' + ${leitor.idLeitor}(patioId=${patioSelecionado.idPatio})}" class="btn btn-primary"  th:text="#{select}"></a>

            <form method="post" th:action="@{'/patio-leitor/rename/' + ${leitor.idLeitor}}" class="rename-form">
                <input type="hidden" name="_method" value="PUT" />
                <input type="hidden" name="patioId" th:value="${leitor.patio.idPatio}" />

                <button type="button" class="btn btn-warning" onclick="toggleInput(this)" th:text="#{rename}"></button>
                <input type="text" name="novoNome" class="hidden input-rename" required />
                <button type="submit" class="btn btn-info hidden submit-rename" th:text="#{save}"></button>
            </form>

            <form method="post" th:action="${'/patio-leitor/' + leitor.idLeitor}">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="patioId" th:value="${patioSelecionado.idPatio}" />
                <button class="btn btn-primary" th:text="#{delete}"></button>
            </form>
        </div>
    </div>
</main>

<div class="max-w-6xl mx-auto mt-8 mb-4">
    <h2 class="text-2xl font-bold text-center mb-2" th:text="#{dashboard}"></h2>
    <hr class="border-t-2 border-gray-300" />
</div>

<div id="motos-info" class="m-4 p-4 bg-base-200 rounded-lg shadow w-full max-w-4xl mx-auto">
    <h1 id="total-motos" class="text-xl font-bold" th:text="#{moto.total}"> </h1>
    <h1 id="total-entradas" class="text-xl font-bold" th:text="#{mov.checkin}"></h1>
    <h1 id="total-saidas" class="text-xl font-bold" th:text="#{mov.exit}"></h1>
</div>

<div class="flex flex-col lg:flex-row gap-4 max-w-6xl mx-auto">

    <div class="flex-1 overflow-x-auto bg-base-200 p-4 rounded-lg shadow">
        <h2 class="text-lg font-bold mb-2" th:text="#{mov.last}"></h2>
        <table class="table table-zebra w-full">
            <thead>
            <tr>
                <th th:text="#{datevent}"></th>
                <th th:text="#{plate}"></th>
                <th th:text="#{model}"></th>
                <th th:text="#{reader}"></th>
                <th th:text="#{movimentype}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${ultimosMovimentos}">
                <td th:text="${m.dataEvento}"></td>
                <td th:text="${m.moto?.placa}"></td>
                <td th:text="${m.moto?.modelo}"></td>
                <td th:text="${m.leitor != null ? m.leitor.nome : '—'}"></td>
                <td th:text="${m.tipoMovimento}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="w-full lg:w-1/2 bg-base-200 p-4 rounded-lg shadow flex justify-center items-center">
        <canvas id="donutChart" class="w-full h-64"></canvas>
    </div>

</div>


<script>

    const patioId = document.getElementById('patioId').dataset.patioId;
    function toggleInput(btn) {
        const form = btn.closest('form');
        const input = form.querySelector('.input-rename');
        const submit = form.querySelector('.submit-rename');

        input.classList.toggle('hidden');
        submit.classList.toggle('hidden');

        if (!input.classList.contains('hidden')) {
            input.focus();
        } else {
            input.value = '';
        }
    }

</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const motos = /*[[${motos}]]*/ [];
    const movimentos = /*[[${movimentosPatio}]]*/ [];
    const msgTotalMotos = /*[[#{moto.total}]]*/ ' ';
    const msgTotalEntradas = /*[[#{mov.checkin}]]*/ ' ';
    const msgTotalSaidas = /*[[#{mov.exit}]]*/' ';
    const totalMotos = motos.length;
    const hoje = new Date();
    const primeiroDiaMes = new Date(hoje.getFullYear(), hoje.getMonth(), 1);
    const ultimoDiaMes = new Date(hoje.getFullYear(), hoje.getMonth() + 1, 0);

    document.getElementById('total-motos').textContent = msgTotalMotos + totalMotos;

    const counts = motos.reduce((acc, m) => {
        acc[m.modelo] = (acc[m.modelo] || 0) + 1;
        return acc;
    }, {});

    const movimentosUltimoMes = movimentos.filter(m => {
        const data = new Date(m.dataEvento + "T00:00:00");
        return data >= primeiroDiaMes && data <= ultimoDiaMes;
    });

    const counts2 = movimentosUltimoMes.reduce((acc, m) => {
        acc[m.tipoMovimento] = (acc[m.tipoMovimento] || 0) + 1;
        return acc;
    }, {});

    document.getElementById('total-entradas').textContent = msgTotalEntradas + (counts2["ENTRADA"] || 0);
    document.getElementById('total-saidas').textContent = msgTotalSaidas + (counts2["SAIDA"] || 0);

    const ctx = document.getElementById('donutChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["Mottu Sport",
                "Mottu Sport ESD",
                "Mottu E (elétrica)",
                "Mottu Pop"],
            datasets: [{
                data: [counts["Mottu Sport"] || 0, counts["Mottu Sport ESD"] || 0, counts["Mottu E (elétrica)"] || 0, counts["Mottu Pop"] || 0],
                backgroundColor: ['#006400', '#10B981', '#F59E0B', '#00FFFF'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });
</script>

</body>
</html>