<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>MottuGestor</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">Mottu Gestor</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<a th:if="${patioSelecionado != null}"
   th:href="@{/patio-leitor/form-leitor(patioId=${patioSelecionado.id_patio})}"
   class="btn btn-primary" th:text="#{leitor.new}">
</a>
<a href="/patio" class="btn btn-neutral" th:text="#{back}"></a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 p-8">
    <div th:each="leitor : ${leitores}" class="card card-border bg-base-300 w-96">
        <div th:text="${leitor.patio.nome}" class="badge badge-accent m-4"></div>

        <div class="card-body items-center">
            <h2 th:text="${leitor.nome}" class="card-title"></h2>
            <span class="badge" th:text="${leitor.status}"></span>
        </div>

        <div class="card-actions justify-end m-4">

            <a th:href="@{'/patio-leitor/' + ${leitor.id_patio} + '/edit'}" class="btn btn-secondary" th:text="#{edit}"></a>

            <form method="post" th:action="${'/patio-leitor/' + leitor.id_patio}">
                <input type="hidden" name="_method" value="DELETE" />
                <button class="btn btn-primary" th:text="#{delete}"></button>
            </form>
        </div>
    </div>
</main>

</body>
</html>